.weatherDataCont {
    background-color: silver;
    width: 375px;
    height: 100px;
    line-height: 100px;
    border-radius: 5px;
    margin: 15px;
    padding: 5px;
    box-sizing: border-box;
}

.WheaterExtraInfoCont {
    width: 35%;
    display: inline-block;
    line-height: 28px;
    text-align: left;
}

.WheaterTempetureCont {
    width: 60%;
    display: inline-block;
    margin-left: -126px;
}

.temperature {
    font-size: 28px;
    font-weight: bold;
    padding-left: 20px;
    color: #333;
}

.temperatureType {
    font-weight: bold;
    color: #666;
}

.extraInfoText {
    color: #1535c5;
    display: block;
    font-size: 16px;
    font-weight: bold;
}

.wicon {
    color: red;
    width: 50px;
    font-size: 4em;
}
