.locationList{

}

@media (max-width:64em) {

  .locationList{
    max-height: 30vh;
    overflow: auto;;
    margin-bottom: 20px;
  }

  .body-extend{
    margin-left: 109px !important;
    color: white;
  }

  .weatherDataCont {
    background-color: black;
    width: 375px;
    height: 100px;
    margin-left: -96px;
}

.WheaterExtraInfoCont {
    width: 35%;
    display: inline-block;
    line-height: 28px;
    text-align: left;
    margin-left: -27px;
}

.WheaterTempetureCont {
    width: 60%;
    display: inline-block;
    margin-left: -2px;
}

.temperature {
    color: #fff;
}

.details {
    background: #666;
}

}


.forecast-title{
  color: white;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;

}

.body-extend{
  text-align: left;
  margin-left: 130px;
  color: #fff;
}
